main .featured-flavors-container {
    max-width: 1500px;
    padding: 0;
    margin: auto;
}

main .featured-flavors-wrapper {
    padding: 0;
}


main .featured-flavors {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

main .featured-flavor-card {
    background-color: var(--light-beige);
    position: relative;
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}

main .featured-flavor-card > div {
    position: relative;
    z-index: 1;
    margin: auto;
}

main .featured-flavor-card div > a {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: var(--body-font-size-xs);
}

main .featured-flavor-card div > p {
    font-weight: lighter;
}

main .featured-flavor-card div > h4 {
    color: black;
}

main .featured-flavor-card .icon {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    fill: var(--beige);
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .featured-flavor-card .icon svg {
    height: 70%;
    width: 70%;
}
