.featured-rum > div {
    display: flex;
    flex-direction: column;
}

.featured-rum img {
    width: 50%;
}

.featured-rum .featured-rum-overlay {
    text-align: center;
    position: relative;
}

.featured-rum .featured-rum-overlay picture:first-of-type {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 64px;
    right: 0;
}

.featured-rum .featured-rum-overlay picture:first-of-type img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.featured-rum .featured-rum-overlay picture:nth-of-type(2) {
    position: relative;
    z-index: 1;
}

.featured-rum .featured-rum-overlay picture:nth-of-type(2) img {
    height: 400px;
    width: auto;
}


@media (min-width: 900px) {
    .featured-rum > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .featured-rum > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .featured-rum > div > div:first-of-type {
        margin-left: unset;
    }
}

.featured-rum.card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.featured-rum.card > div {
    flex-direction: column;
}

.featured-rum.card div div > * {
    display: none;
}

.featured-rum.card div div > picture:nth-of-type(2) {
    display: block;
}

.featured-rum.card div div > h3 {
    text-align: center;
    display: block;
}